:root {
    --main-color: rgb(200, 150, 200);   /* preferred color */
    --fallback: #aee3de;     /* fallback color */
}
@media (overflow-block: scroll) {

  }
* {
    font-family: 'Trebuchet MS';
}
h1 {
    color: green;    /* apply color to h1 header*/
    font-size: 1cm;     /* font-size with abs unit*/
    margin-top: 20px;   /* margin */
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 10px 5px 5px;     /* padding */
    text-align: center;     /* center text */
    position: static;   /* position */
}
h2 {
    color: rgb(100, 70, 200);    /* apply color to h2 header*/
    font-size: 7mm;     /* font-size with abs unit*/
    height: 50px;   /* height */
    position: relative;   /* position */
}
h3 {
    color: #FFFFB3;     /* apply color to h3 header*/
    font-size: 20q;       /* font-size with abs unit*/
    text-decoration: underline;     /* underline text */
    text-decoration-color: #FFFFFF;
    height: 50px;   /* width */
}
h4 {
    color: color(display-p3 0.3 0.2 0.6);   /* apply color to h4 header*/
}
ul {
    color: color-mix(in lch, red 80%, blue 20%);    /* apply color ul header*/
}
ol {
    font-size: 0.9rem;  /* font-size with rel unit*/
}
li {
    font-size: 2vh;     /* font-size with rel unit*/
}
li[type="yoda"]{
    color: green;
}
body {
    background-color: var(--main-color, --fallback-color);   /* apply background color with fallback */
}
section {
    font-size: 0.9em;   /* font-size with rel unit*/
}
.agenda {
    margin: 10px 10px 10px 10px;    /* margin */
    border: 3px dashed black;       /* border */
    width: 20cm;    /* width */
    display: flex;  /* flexbox */
    flex-direction: column;
}       
.attendance {
    margin: auto;   /* margin */
    padding-top: 10px;      /* padding */
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 3px;      /* border */
    border-style: solid;
    border-color: aqua;
    border-radius: 10%;
    min-width: 100px;   /* width */
    max-width: 20cm;
    display: flex;  /* flexbox */
    align-items: flex-start;
}  
button:hover {
    color: blue;    /** when hover **/
}
button:active {
    color: red;     /** when clicked **/
}
.img {
    display: flex;  /* flexbox */
    align-content: end;
}
.new_biz {
    display: grid;  /* grid */
    grid-template-rows: auto;
}
.un_biz {
    display: grid;  /* grid */
    justify-self: start;
    a {
        text-decoration: underline;
        color: teal;
    }
}
#misc {
    display: grid;  /* grid */
    grid-template-columns: max-content;
    color: blue;
}
div, p {
    text-transform: capitalize;
}
.agenda > h4 {
    color: blue;
}
.agenda ol {
    color: purple;
}
h1 + h2 {
    text-decoration: overline;
}
h4 ~ ol {
    text-decoration: overline;
}
div.anakin {
    text-shadow: #FFFFB3;
}
summary:has(+ p) {
    margin-bottom: auto;
}